:root {
  --ifm-color-primary: #7f7ff0;
  --ifm-color-primary-dark: rgb(114, 114, 216);
  --ifm-color-primary-darker: rgb(108, 108, 204);
  --ifm-color-primary-darkest: rgb(89, 89, 168);
  --ifm-color-primary-light: rgb(146, 146, 242);
  --ifm-color-primary-lighter: rgb(165, 165, 245);
  --ifm-color-primary-lightest: rgb(191, 191, 248);

  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 0.8rem;
}
