@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --ifm-color-primary: #6565d5;
  --ifm-color-primary-dark: #5959d2;
  --ifm-color-primary-darker: #4c4cce;
  --ifm-color-primary-darkest: #4040cb;
  --ifm-color-primary-light: #7e7edc;
  --ifm-color-primary-lighter: #8a8adf;
  --ifm-color-primary-lightest: #afafe9;

  --ifm-font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --ifm-font-size-base: 16px;
}

html[data-theme='dark'] {
  --ifm-color-primary: #7f7ff0;
  --ifm-color-primary-dark: rgb(114, 114, 216);
  --ifm-color-primary-darker: rgb(108, 108, 204);
  --ifm-color-primary-darkest: rgb(89, 89, 168);
  --ifm-color-primary-light: rgb(146, 146, 242);
  --ifm-color-primary-lighter: rgb(165, 165, 245);
  --ifm-color-primary-lightest: rgb(191, 191, 248);
}

@media screen and (max-width: 767px) {
  :root {
    --ifm-font-size-base: 16px;
  }

  .markdown h1 {
    --ifm-h1-font-size: 1.5rem;
  }

  .markdown h2 {
    --ifm-h2-font-size: 1.375rem;
  }

  .markdown h3 {
    --ifm-h3-font-size: 1.25rem;
  }
}

div[class^='announcementBar_'] {
  background-color: var(--ifm-color-primary);
  color: #fff;
  font-weight: bold;
}

.theme-doc-markdown details {
  --ifm-alert-background-color: transparent;
  border: 1px solid var(--ifm-color-primary);
}

.theme-doc-markdown details h2,
.theme-doc-markdown details h3,
.theme-doc-markdown details h4,
.theme-doc-markdown details h5,
.theme-doc-markdown details h6 {
  margin-bottom: 0 !important;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
