:root {
  --ifm-color-primary: #6565d5;
  --ifm-color-primary-dark: #5959d2;
  --ifm-color-primary-darker: #4c4cce;
  --ifm-color-primary-darkest: #4040cb;
  --ifm-color-primary-light: #7e7edc;
  --ifm-color-primary-lighter: #8a8adf;
  --ifm-color-primary-lightest: #afafe9;

  --ifm-font-size-base: 18px;
}

html[data-theme='dark'] {
  --ifm-color-primary: #7f7ff0;
  --ifm-color-primary-dark: rgb(114, 114, 216);
  --ifm-color-primary-darker: rgb(108, 108, 204);
  --ifm-color-primary-darkest: rgb(89, 89, 168);
  --ifm-color-primary-light: rgb(146, 146, 242);
  --ifm-color-primary-lighter: rgb(165, 165, 245);
  --ifm-color-primary-lightest: rgb(191, 191, 248);
}

@media screen and (max-width: 767px) {
  :root {
    --ifm-font-size-base: 16px;
  }

  .markdown h1 {
    --ifm-h1-font-size: 1.5rem;
  }

  .markdown h2 {
    --ifm-h2-font-size: 1.375rem;
  }

  .markdown h3 {
    --ifm-h3-font-size: 1.25rem;
  }
}

div[class^='announcementBar_'] {
  background-color: var(--ifm-color-primary);
  color: #fff;
  font-weight: bold;
}
