.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerLogo {
  max-width: 300px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  font-size: 2rem;
}

.sectionTagline {
  font-size: 1.25rem;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

html[data-theme='light'] .sectionAlt2 {
  background-color: var(--ifm-color-emphasis-200);
}

.sectionSponsor {
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
}

.sectionSponsorAlt {
  background: linear-gradient(
    135deg,
    rgb(29, 136, 244),
    rgb(252, 67, 128),
    rgb(251, 191, 36)
  );
}

.sectionSponsorTitle {
  color: var(--ifm-color-white);
}

.quote {
  font-size: 1.1rem;
}

.howToUseStep {
  height: 100%;
}

.howToUseStepLabel {
  color: var(--ifm-color-primary);
  font-size: 0.9rem;
  font-weight: bold;
}

.featuresRow {
  margin-top: -2rem;
}

.featuresRow .featuresRowItemContainer {
  padding-top: 2rem;
}

.featuresRow .featuresRowItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

.featuresRow .featuresRowItemTitle {
  font-size: 1rem;
}

.featuresRow .featuresRowItemDescription {
  font-size: 0.9rem;
}

.featuresRow .featuresRowItemLink {
  font-size: 0.9rem;
}

.tweet {
  font-size: 15px;
}

.tweetsSection {
  margin-top: -2rem;
}

.tweetsSection > :global(.col) {
  padding-top: 2rem;
  margin-top: -2rem;
}

.tweetsSection > :global(.col) > * {
  margin-top: 2rem;
}

.tweetMeta,
.tweetMeta:hover {
  color: var(--ifm-color-emphasis-700);
}

.sponsorshipList {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
