/* TIH: Add horizontal padding */
@media (min-width: 768px) {
  .docItemContainer {
    padding: 0 3rem;
  }
}

.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
