.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

.socialLinksContainer {
  background-color: var(--ifm-color-emphasis-100);
  border-radius: var(--ifm-global-radius);
}

.socialLinks {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  gap: 1rem;
}
